In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
folder_path = "./Dataset-copy/"
file_number = [0,1,2,3,4]
file_number = list(map(str, file_number))
# file_path = str(folder_path) + 'fold_' + str(i) + 'data.txt'

csv_files = []
for i in file_number:
    file_path = str(folder_path) + 'fold_' + str(i) + '_data.txt'
    csv_files.append(pd.read_csv(file_path, sep="\t"))

In [3]:
concat_csv = pd.concat(csv_files)

In [4]:
concat_csv.to_csv("train_faces_concatenated_data.csv")

In [5]:
concat_csv.shape

(15554, 12)

In [44]:
file_path = str(folder_path) + 'fold_' + str(4) + '_data.txt'
pd.read_csv(file_path, sep="\t").shape

(3816, 12)

In [73]:
concat_csv['path'] = concat_csv.apply(lambda x: folder_path+"aligned/"+x['user_id']+"/landmark_aligned_face.%s.%s"
                                                                      %(x['face_id'], x['original_image']), axis=1)

In [37]:
concat_csv.head()

,user_id,original_image,face_id,age,gender,x,y,dx,dy,tilt_ang,fiducial_yaw_angle,fiducial_score,path
0,30601258@N03,10399646885_67c7d20df9_o.jpg,1,"(25, 32)",f,0,414,1086,1383,-115,30,17,./Dataset-copy/aligned/30601258@N03/landmark_a...
1,30601258@N03,10424815813_e94629b1ec_o.jpg,2,"(25, 32)",m,301,105,640,641,0,0,94,./Dataset-copy/aligned/30601258@N03/landmark_a...
2,30601258@N03,10437979845_5985be4b26_o.jpg,1,"(25, 32)",f,2395,876,771,771,175,-30,74,./Dataset-copy/aligned/30601258@N03/landmark_a...
3,30601258@N03,10437979845_5985be4b26_o.jpg,3,"(25, 32)",m,752,1255,484,485,180,0,47,./Dataset-copy/aligned/30601258@N03/landmark_a...
4,30601258@N03,11816644924_075c3d8d59_o.jpg,2,"(25, 32)",m,175,80,769,768,-75,0,34,./Dataset-copy/aligned/30601258@N03/landmark_a...

In [51]:
concat_csv.to_csv("test_faces_concacted_data_with_path.csv")

In [47]:
file_path = str(folder_path) + 'fold_' + str(4) + '_data.txt'
test_csv = pd.read_csv(file_path, sep="\t")

In [49]:
test_csv.to_csv("test_faces_concatenated_data.csv")

In [9]:
def filter_df(df):

    dict_age = {'(0, 2)' : 0,
                '(4, 6)' : 1,
                '(8, 12)' : 2,
                '(15, 20)' : 3,
                '(25, 32)' : 4,
                '(38, 43)' : 5,
                '(48, 53)' : 6,
                '(60, 100)' : 7}
    
    df['f'] = df.age.apply(lambda x: int(x in dict_age))
    df = df[df.f == 1]
    return df
train_df = filter_df(pd.read_csv("train_faces_concactenated_data_with_path.csv"))
test_df = filter_df(pd.read_csv("test_faces_concactenated_data_with_path.csv"))

In [8]:
train_df.to_csv("train_faces_concactenated_data_with_path_with_age_range.csv")

In [10]:
test_df.to_csv("test_faces_concactenated_data_with_path_with_age_range.csv")

In [4]:
file = pd.read_csv("train_faces_concactenated_data_with_path_with_age_range.csv")

In [5]:
file.shape

(13717, 16)

In [8]:
13717/16

857.3125

In [1]:
3700/8

462.5

In [ ]:

test_images = np.array([read_and_resize(file_path) for file_path in test_df.path.values])
test_labels = np.array([int(g == "m") for g in test_df.gender.values])