In [4]:
import pandas as pd
import numpy as np
import csv
from tqdm.auto import tqdm

In [5]:
data_frame = pd.read_csv("imdb_dataset_with_ages_not_age_range.csv")

In [6]:
unique_ages = data_frame["out_ages"].unique()
unique_ages.sort()

In [15]:
df = []
for i in tqdm(range(len(unique_ages))):
    df.append(pd.DataFrame(columns=data_frame.columns))
for i in tqdm(range(len(data_frame["out_ages"]))):
    age = data_frame["out_ages"][i]
    df[age] = df[age].append(data_frame.loc[i])

HBox(children=(FloatProgress(value=0.0, max=99.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=171852.0), HTML(value='')))

In [16]:
for i in tqdm(range(len(df))):
    file_path = "./ages/"+str(i)+".csv"
    df[i].to_csv(file_path,index= False)

HBox(children=(FloatProgress(value=0.0, max=99.0), HTML(value='')))

In [32]:
age_data = data_frame.groupby(["out_ages"]).count()

In [ ]:
max(age_data["path"])

In [14]:
import csv
import pandas as pd
import numpy as np
import csv
from tqdm.auto import tqdm
from math import ceil



data_frame = pd.read_csv("imdb_dataset_with_ages_not_age_range.csv")
unique_ages = data_frame["out_ages"].unique()
unique_ages.sort()
age_data = data_frame.groupby(["out_ages"]).count()
folder_path = "./ages/"
df = pd.DataFrame(columns=data_frame.columns)
df.to_csv("expanded_data.csv", index=False)
for index in tqdm(range(len(data_frame["out_ages"]))):
    age = data_frame["out_ages"][index]
    file_path = folder_path + str(age) +".csv"
    with open(file_path, mode='w')  as csv_file:
        csv_writer = csv.writer(csv_file)
        for itr_count in range(ceil(6307/age_data["path"][age])):
            csv_writer.writerow(list(data_frame.loc[index]))

HBox(children=(FloatProgress(value=0.0, max=171852.0), HTML(value='')))

In [13]:
from math import ceil
ceil(1.2)

2

In [1]:
import csv
import os
import time


folder_path = "./ages/"
file_list = os.listdir(folder_path)
df = pd.DataFrame(columns=data_frame.columns)
df.to_csv("expanded_data.csv", index=False)
time.sleep(2)
with open("expanded_data.csv", 'w') as expanded_dataset:
    dataset_writer = csv.writer(expanded_dataset)
    for index in tqdm(range(len(file_list))):
        file = folder_path + file_list[index]
        if file == "./ages/.ipynb_checkpoints":
            continue
        with open(file, 'r') as age_csv:
            age_data = csv.reader(age_csv)
            dataset_writer.writerows(list(age_data))

NameError: name 'pd' is not defined

In [9]:
expanded_data_csv = pd.read_csv("expanded_data.csv",names=data_frame.columns)
for _ in tqdm(range(1000000)):
    expanded_data_csv.sample(frac=1)

expanded_data_csv.to_csv("expanded_data.csv",index=False)

expanded_data_csv.columns

HBox(children=(FloatProgress(value=0.0, max=1000000.0), HTML(value='')))

Index(['path', 'out_ages', 'out_genders', 'face_scores'], dtype='object')

In [6]:
import os
import time
import csv
import pandas as pd
import numpy as np
import csv
from tqdm.auto import tqdm
from math import ceil



data_frame = pd.read_csv("imdb_dataset_with_ages_not_age_range.csv")
folder_path = "./ages/"
file_list = os.listdir(folder_path)
df = pd.DataFrame(columns=data_frame.columns)
df.to_csv("expanded_data.csv", index=False)
age_data = data_frame.groupby(["out_ages"]).count()
time.sleep(2)
with open("expanded_data.csv", 'w') as expanded_dataset:
    dataset_writer = csv.writer(expanded_dataset)
    for index in tqdm(range(len(file_list))):
        file = folder_path + file_list[index]
        if file == "./ages/.ipynb_checkpoints":
            continue
        file_split = file_list[index].split(".")
        age = int(file_split[0])
        age_count = age_data["path"][age]
        itr_range = ceil(max(age_data["path"])/age_count)
        with open(file, 'r') as age_csv:
            age_data_csv = csv.reader(age_csv)
            next(age_data_csv, None)
            itr_range = ceil(max(age_data["path"])/age_count)
            for _ in range(itr_range):
                dataset_writer.writerows(list(age_data_csv))

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

In [3]:
age_data

          path  out_genders  face_scores
out_ages
0            5            5            5
1           33           33           33
2           49           49           49
3            8            8            8
4           27           27           27
...        ...          ...          ...
94           5            5            5
95           1            1            1
96           5            5            5
97           1            1            1
98           3            3            3

[99 rows x 3 columns]

In [20]:
a.split(".")

['0', 'csv']

In [21]:
a

'0.csv'

In [7]:
exp_data = pd.read_csv("expanded_data.csv")

In [8]:
uniq_ages  = exp_data["out_ages"].unique()

In [9]:
uniq_ages

array(['11', 'out_ages', '84', '18', '85', '22', '54', '42', '96', '72',
       '17', '83', '71', '95', '34', '55', '70', '29', '48', '20', '86',
       '0', '16', '65', '33', '76', '64', '9', '28', '39', '46', '37',
       '63', '25', '51', '89', '31', '8', '13', '14', '93', '4', '74',
       '59', '73', '6', '15', '50', '82', '66', '2', '5', '97', '91',
       '27', '44', '68', '79', '12', '78', '81', '19', '69', '90', '80',
       '41', '24', '26', '49', '35', '43', '67', '47', '61', '45', '87',
       '77', '1', '40', '7', '98', '75', '30', '60', '56', '52', '3',
       '94', '38', '32', '23', '58', '62', '92', '88', '21', '36', '53',
       '57', '10'], dtype=object)